.custom-card {
border: 2px solid #B58A42;
transition: all 0.3s ease;
}
.selected {
background-color: #f5dfb7;
border: 2px solid #B58A42;
}

 .card {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     text-align: center;
     height: 100%;
 }

 .card-img-top {
     height: 100%;
     width: auto;
     object-fit: cover;
 }

 .card-body {
     flex-grow: 1;
 }
 
 
 .kartu {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     text-align: center;
     height: 100%;
 }